
.speech {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
}


.direction {
    font-family: Times New Roman, serif;
    font-size: 12px;
    color: black;
    background-color: lightgray; 
    transition: background-color 0.3s, color 0.3s; 
}


.direction:hover {
    background-color: lightblue;
    color: white;
}

.text {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: black;
    margin: 0; 
}


.name {
    font-weight: bold;
}


.mrs-alving {
    color: red; 
}

.oswald {
    color: green; 
}

.regina {
    color: blue; 
}

.manders {
    color: purple; 
}


.play-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.play-table th, .play-table td {
    padding: 10px;
    text-align: center;
}

.play-table th {
    background-color: #8ac2c7;
    border: 1px solid #121111;
}

.play-table td {
    border: 1px solid #222020;
}

.play-table tbody tr:nth-child(odd) {
    background-color: #db9797;
}


.name:hover {
    text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.7); 
    border: 2px solid #ff0000; 
}

.bottom-navbar {
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
}

.bottom-navbar a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
}

